{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Об авторе</h1>
</div>
<p>Меня зовут Тимофей, это мой дипломный проект по специальности "Разработчик Python" на Яндекс Практикуме.
За 9 месяцев я научилась писать серверную часть сайтов, пользоваться командной строкой, программировать на языке Python,
решать алгоритмические задачи, программировать API. </p>
<p>Спасибо, что дочитали до конца!</p>
{% endblock content %}