{% extends "base.html" %}
{% load static %}
{% block title %}Список покупок{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Список покупок</h1>
</div>
<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% load thumbnail %}
        {% for recipe in recipe_list %}
        {% thumbnail recipe.image "960x500" crop="center" as im %}
        <li class="shopping-list__item" data-id="{{ recipe.id }}">
            <div class="recipe recipe_reverse">
                <img src="{{ im.url }}" alt="Картинка" class="recipe__image recipe__image_big">
                <h3 class="recipe__title">{{ recipe.title }}</h3>
                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.duration }} мин.</p>
            </div>
            <a href="#" class="shopping-list__button link">Удалить</a>
        </li>
        {% endthumbnail %}
        {% endfor %}
    </ul>
    <a href="{% url 'shoplist' %}"><button class="button button_style_blue">Скачать список</button></a>
</div>
{% endblock content %}
{% block style %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock style %}
